body{
    margin:0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: white;
    
}
header{
     background-color: rgb(11, 11, 44);
     padding:10px;
     height:20vh;
}
footer{
    background-color: rgb(11, 11, 44);
    padding:10px;
    height: 20vh;
}
main{
    background-color: white;
    color:black;
    padding:10px;
    flex-grow:3;
    
}
aside{
    background-color: blue;
    padding:10px;
    flex-grow: 1;
}
nav{
    background-color: rgb(229, 17, 151);
    flex-grow: 1;
    padding:10px;
}
.container{
    display:flex;
    height:77vh;
    
}
.sub{
    display: flex;
    flex-grow: 4;

}
@media(max-width:800px){
    .container{
        flex-direction: column;
        
    }
    
    .sub{
        display:flex;
        height:60vh;

    }
    main{
        flex-grow: 8;
    }
} 

@media(max-width:450px){

    .sub{
        flex-direction: column;
    }
    main{
        flex-grow: 8;
    }
}